.uniform-inspection-page {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.uniform-inspection-list-table {
    display: grid;
    grid-template-columns: 50px minmax(max-content, 1fr) repeat(3, minmax(max-content, 200px)) max-content;
    border-bottom: 1px solid black;
    overflow: auto;

    >div {
        display: contents;
    }

    >p {
        font-size: 18px;
        font-weight: bold;
    }

    p {
        padding: 5px 10px;
        border: 1px solid black;
        border-bottom: none;
        border-right: none;
        display: flex;
        align-items: center;
    }

    p:first-of-type {
        justify-content: center;
    }

    p:last-of-type {
        justify-content: center;
        border-right: 1px solid black;
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    i {
        cursor: pointer;
    }
}

#conduct-inspection-button {
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: auto;
    position: sticky;
    bottom: 20px;
}

.uniform-inspection-filter {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;

    div {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;
    }

    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox']+label {
        cursor: pointer;
        border: 1px solid black;
        outline: none;
        border-radius: 10px;
        padding: 3px 5px;
        color: black;
        font-size: 14px;
    }

    input[type='checkbox']+label::before {
        content: '\f00d';
        font: var(--fa-font-solid);
        margin-right: 5px;
        color: red;
    }

    input[type='checkbox']:checked+label::before {
        content: '\f00c';
        font: var(--fa-font-solid);
        margin-right: 5px;
        color: darkgreen;
    }

    input[type='search'] {
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        border-radius: 0;
        width: 200px;
        background: transparent;
    }

    label[for='search'] i {
        margin-right: 5px;
    }
}