footer {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 10px 20px;
    color: white;
    gap: 10px;

    *:not(.fa-brands) {
        font-family: sans-serif;
    }

    >div:first-of-type {
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
        height: max-content;
        justify-content: space-evenly;

        >div {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: column;

            >div {
                display: flex;
                gap: 20px;
            }

            &:last-of-type {
                align-items: flex-start;

                >div {
                    align-items: flex-start;
                    display: flex;
                    gap: 10px;

                    a {
                        color: #c9c9c9;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    >div:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 10px;
        justify-content: center;
        text-align: center;
        color: #c9c9c9;
    }

    .fa-brands {
        font-size: 40px;
        color: #c9c9c9;
    }

    img {
        object-fit: contain;
    }
}

@media screen and (max-width: 800px) {
    footer>div {
        grid-template-columns: 1fr !important;

        >div {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
        }

        >div:first-of-type>div:last-of-type {
            justify-content: center;
            align-items: center;

            >div {
                flex-direction: row;

                >a {
                    margin-left: 0 !important;
                }
            }

        }

        >div:last-of-type {
            text-align: center;
            align-items: center !important;

            div {
                align-items: center !important;
            }
        }
    }

    footer>div:first-of-type>div>div {
        flex-wrap: wrap;
        flex-direction: row !important;

        a {
            margin: 0 !important;
        }
    }
}