.reset-password-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px 30px;
    gap: 20px;
    
    form {
        display: grid;
        grid-template-columns: max-content 1fr 30px;
        gap: 20px 10px;
        max-width: 400px;
        align-items: center;
    }

    input {
        border: none;
        outline: none;
        background: transparent;
        padding: 5px 10px;
        border-bottom: 1px solid black;
        border-radius: 0;
    }

    i {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    button {
        grid-column: span 2;
        padding: 5px 10px;
        background: black;
        color: white;
        border-radius: 10px;
        margin-left: auto;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        div {
            margin-top: 10px;
            flex-direction: row;    
            align-items: center;

            p {
                font-size: 13px;
            }
        }

        button {
            margin-left: 0;
            width: max-content;

            &[data-state='unlink'] {
                background: red;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .reset-password-page {
        button {
            grid-column: span 2;
        }

        form {
            grid-template-columns: 1fr max-content;
        }

        label {
            grid-column: span 2;
        }
    }
}