.user-management-page {
	display: flex;
	flex-direction: column;
	margin: 20px 30px;
	gap: 20px;
	flex: 1;

	.toggle-buttons {
		display: flex;
		justify-content: center;
		gap: 20px;

		input {
			display: none;
		}

		label {
			text-align: center;
			flex: 1;
			max-width: 150px;
			padding: 5px 20px;
			border-radius: 10px;
			cursor: pointer;
			border: 1px solid black;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		input:checked+label {
			background: black;
			color: white;
		}
	}

	.users {
		display: flex;
		gap: 20px;
	}
}

@media screen and (max-width: 800px) {
	.users {
		height: unset !important;
		min-height: 300px;
		flex-direction: column;
	}

	.back-button {
		display: flex;
		gap: 10px;
		color: black;
		align-items: center;
		font-size: 18px;
		margin-bottom: 10px;
	}

	.users:has(div[data-class="usersList"]) > *:not(div[data-class="usersList"]) {
		display: none;
	}
}