@media screen {
    .attendance-management-page {
        padding: 20px 30px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        overflow: auto;
    }

	.parade-form-popup-content{
		position: absolute;
        width: 90vw;
        height: 90vh;
        overflow-y: auto;
        overflow-x: auto;
	}

    .attendance-management-page .main-block {
        flex: 1;
    }

    .attendance-management-page .parade-information {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 0;
        overflow: auto;

        .flex-block {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .flex-block .half-block {
            width: calc((100% - 20px) / 2);

            h3 {
                font-family: sans-serif;
                margin-bottom: 5px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid black;
                padding: 5px;
                font-family: sans-serif;
            }

            td:last-of-type {
                text-align: center;
            }
        }

        iframe {
            height: 750px;
            width: 100%;
            border: 1px solid black;
            box-sizing: border-box;
        }

        textarea {
            border-radius: 10px;
            padding: 5px 10px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        > div:first-of-type {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
            justify-content: end;
            position: sticky;
            left: 0;

            > button {
                padding: 5px 10px;
                background: black;
                color: white;
                border-radius: 10px;
                display: flex;
                gap: 10px;
            }
    
            > button[name='show-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f424";
            }
    
            > button[name='hide-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f422";
            }
    
            > button[name='edit-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f044";
            }

            > button[name='download-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f019";
            }
        }

        label[for='parade-description'], h4 {
            font-family: sans-serif;
        }
    }

    .attendance-management-page .main-block .parade-information .parade-editor .flex-block {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 800px){
    .attendance-management-page {
        flex-direction: column;
    }
}