@media screen {
    .attendance-management-page {
        padding: 20px 30px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        overflow: auto;
    }
}

@media screen and (max-width: 800px){
    .attendance-management-page {
        flex-direction: column;
    }
}