@media screen {
    .attendance-management-page {
        padding: 20px 30px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .attendance-management-page .parade-list {
		width: 20%;
        flex-shrink: 0;
	}

    .attendance-management-page .parade-list button {
        border: 1px solid black;
        padding: 5px;
        cursor: pointer;
        color: black;
	}

	.parade-form-popup-content{
		position: absolute;
        width: 90vw;
        height: 90vh;
        overflow-y: auto;
        overflow-x: auto;
	}

    .attendance-management-page .main-block {
        flex: 1;
    }

    .attendance-management-page .main-block .parade-information {
        overflow: auto;
        height: 100%;

        .flex-block {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .flex-block .half-block {
            width: calc((100% - 20px) / 2);

            h3 {
                font-family: sans-serif;
                margin-bottom: 5px;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                border: 1px solid black;
                padding: 5px;
                font-family: sans-serif;
            }

            td:last-of-type {
                text-align: center;
            }
        }

        iframe {
            height: 750px;
            width: 100%;
            border: 1px solid black;
            box-sizing: border-box;
        }

        textarea {
            border-radius: 10px;
            padding: 5px 10px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        > div:first-of-type {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 10px;
            justify-content: end;

            > button {
                padding: 5px 10px;
                background: black;
                color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                outline: none;
                gap: 10px;
                cursor: pointer;
            }
    
            > button:hover {
                background: black;
            }
    
            > button[name='show-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f424";
            }
    
            > button[name='hide-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f422";
            }
    
            > button[name='edit-parade-notice']::before {
                font: var(--fa-font-solid);
                content: "\f044";
            }
        }

        label[for='parade-description'], h4 {
            font-family: sans-serif;
        }
    }

    .attendance-management-page .parade-list > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .attendance-management-page .parade-list .fa-file-excel, .attendance-management-page .parade-list .fa-plus {
        margin-right: 5px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 5px 10px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:first-of-type {
        justify-content: space-between;
        align-items: center;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div {
        display: flex;
        gap: 5px;
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:last-of-type button {
        width: calc((100% - 5px) / 2);
    }

    .attendance-management-page .parade-list > div > div:first-of-type > div:first-of-type button {
        background: black;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
    }

    .attendance-management-page .main-block .parade-information .parade-editor .flex-block {
        margin: 0 !important;
        padding: 0 !important;
    }

    .parade-notice-page {
        display: flex;
        margin: 20px 30px;
        font-family: sans-serif;
        min-height: 500px;
        justify-content: center;

        div {
            width: max-content;
            display: flex;
            flex-direction: column;
        }

        iframe {
            max-width: 297mm;
            height: 210mm;
            width: 100vw;
            border: 1px solid black;
        }
    }
}

@media screen and (min-width: 800px) {
    .attendance-management-page .parade-list > div {
        position: sticky;
        top: 20px;
        max-height: 95vh;
        overflow: auto;
    }

    .parade-list > div > div:last-of-type {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        > button {
            width: calc((100% - 5px) / 2);
        }
    }

    .attendance-management-page .parade-list button {
        width: calc((100% - 5px) / 2);
    }
}