@media screen {
    .parade-notice-page {
        display: flex;
        margin: 20px 30px;
        flex-direction: column;
        flex: 1;
        gap: 20px;
        justify-content: center;
        align-items: center;

        > div:last-of-type {
            width: 100%;
        }
    }
}