* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    &:not(i) {
        font-family: sans-serif;
    }
}

button {
    background: transparent;
    outline: none;
    border: none;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex: 1;
    padding: 20px;
    text-align: center;

    img {
        width: 200px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(183, 183, 183);
    border-radius: 10px;
}

@media screen and (max-width: 250px) {
    .layout-div *,
    footer,
    header {
        display: none !important;
    }

    .layout-div::before {
        display: flex;
        content: "You are seeing this because your screen is too small";
        justify-content: center;
        text-align: center;
        align-items: center;
        flex: 1;
        padding: 1rem;
    }
}