.award-management-page {
	display: flex;
	flex-direction: column;
	margin: 20px 30px;
	gap: 20px;
	flex: 1;

	.toggle-buttons {
		display: flex;
		justify-content: center;
		gap: 20px;

		input {
			display: none;
		}

		label {
			text-align: center;
			max-width: 150px;
			padding: 5px 20px;
			border-radius: 10px;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border: 1px solid black;
		}

		input:checked+label {
			background: black;
			color: white;
		}
	}
}