.award-requirements {
    width: 100%;
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
}

.award-requirements-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    > div {
        position: absolute;
        inset: 0;
        background: white;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .award-requirements {
        min-height: 70vh;
    }
}